
.button{
	display: inline-block;
	max-width: 200px;
	font-weight: 700;
	line-height: 1;
	height: 58px;
	padding: 0 37px;
	padding-top: 3px;
	border-radius: 29px;
	background-color: var(--color-aktive);
	color: var(--color-wiht);
	transition: all 0.7s ease;
}
.button:hover{
	background-color: var(--color-aktive-dark);
}