//start global
body{
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color:var(--color-main-text);
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main{
	flex: 1 1 auto;
}
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
.container{
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}
.container-fluid{
	margin-right: unset;
	max-width: unset;
	margin-right: calc(50% - 570px);
}
//start button
		.button{
			display: inline-block;
			max-width: 200px;
			font-weight: 700;
			line-height: 58px;
			height: 58px;
			padding: 0 37px;			
			border-radius: 29px;
			background-color: var(--color-aktive);
			color: var(--color-wiht);
			transition: all 0.7s ease;
		}
		.button:hover{
			background-color: var(--color-aktive-dark);
		}
//end button

//start title
		.title{
			font-weight: 700;
			font-size: 42px;
			line-height: 1.48;
			letter-spacing: 0.8px;
		}
//end title

//end global