/*start global*/
body{
	font-family: "Poppins", sans-serif;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main{
	flex: 1 1 auto;
}
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
.container{
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}
/*end global*/
