.heading {
	color: var(--color-main-text);
	// .heading__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .heading__text
	&__text {
		max-width: 467px;
		z-index: 2;
	}
	// .heading__title
	&__title {		
		font-family: 'Poppins', sans-serif;

		font-weight: 900;
		font-size: 54px;
		line-height: 1.46;
		letter-spacing: 0.8px;

		margin-bottom: 25px;
		margin-right: -180px;
	}
	// .heading__tex
	&__tex {		
		font-weight: 400;
		font-size: 16px;
		line-height: 1.68;
		letter-spacing: 1.15px;
		margin-bottom: 42px;
		margin-right: 10px;
	}
	// .heading__img
	&__img img{
		border-radius: 40px 40px 40px 0px;
	}

//form
	// .heading__form
	&__form {
		background: #FFFFFF;
		box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
		border-radius: 29px;
		height: 58px;
		margin-right: 10px;
	}
	// .heading__label
	&__label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	&__icon{
		width: 24px;
		height: 19px;
		margin-left: 28px;
	}
.heading__icon-close{
	height: 19px;
	width: 19px;
}
.close{
	height: 19px;
	margin-right: 4px;
	opacity: 0;
	transform: translateY( 100% );
  transition: all 1s ease;
}
.heading__icon-close use{
	background-color: red;
}
.heading__icon-close:hover{
	--color-close: var(--color-close-dark);
}
.heading__input:focus + .close{
	opacity: 1;
	transform: translateY( 0% );
}
	// .heading__input
	&__input {
		flex-grow: 1;
		margin-right: 5px;
		margin-left: 12px;
	}
	.form {
		// .form__button
		&__button {}
	}
}
	.inner{
		flex-grow: 1;
		display: flex;
	}
input[type="text"]{
	color:red;
}
input[type="text"]::placeholder { 
	color: var(--color-placeholder); 
} 

input[type="text"]:focus::placeholder {
  transform: translateY( 200% );
  transition: transform 1s ease;
}


// .close{
// 	opacity: 0;
// }
// :focus::placeholder {
//   transform: translateY( 200% );
//   transition: transform 1s ease;
// }
