//Подгружаемые стили
	//regular
	@font-face {
	    font-family: 'Poppins';
	    src: local('Poppins Regular'), local('Poppins-Regular'), url('../fonts/Poppinsregular.woff2') format('woff2'), url('../fonts/Poppinsregular.woff') format('woff'), url('../fonts/Poppinsregular.ttf') format('truetype');
	    font-weight: 400;
	    font-style: normal;
	}
	//bold
	@font-face {
	    font-family: 'Poppins';
	    src: local('Poppins Bold'), local('Poppins-Bold'), url('../fonts/Poppinsbold.woff2') format('woff2'), url('../fonts/Poppinsbold.woff') format('woff'), url('../fonts/Poppinsbold.ttf') format('truetype');
	    font-weight: 700;
	    font-style: normal;
	}
// Файл обнуляющих стилей
@import "nullstyle.scss";
//Глобальные
@import "global.scss";
@import "button.scss";
//Переменные
@import "var.scss";
//Блоки
@import "header.scss";
@import "main.scss";
@import "footer.scss";
//Части
@import "heading.scss";