//color
//подставляется color:$main-color;
// $main-color: #333333;
//или (подставляется color:var(--color-white);)
:root{
  --color-wiht:#fff;
	--color-aktive:#F78434;
  --color-aktive-dark:#cf6013;
	--color-main-text:#323232;
  --color-placeholder: #BBBBBB;
  --color-bg-sup:#58BEBF;
  --color-bg-serve:#F5F6FA;
//icon color - start
	--color-circle:#def2f2;
  --color-inside:#58BEBF;
  --color-building-circle:#58BEBF;
  --color-building-1:#58BEBF;
  --color-Logo:#58BEBF;
  --color-Logoipsum:#D8D8D8;
  --color-Logoipsum2-1:#D8D8D8;
  --color-Logoipsum2-2:#D8D8D8;
  --color-Logoipsum2-3:#D8D8D8;
  --color-Logoipsum2-4:#D8D8D8;
  --color-Logoipsum2-5:#D8D8D8;
  --color-Logoipsum2-6:#D8D8D8;
  --color-Logoipsum2-7:#D8D8D8;
  --color-Logoipsum3-circle:#D8D8D8;
  --color-Logoipsum3-1:#D8D8D8;
  --color-Logoipsum4-1:white;
  --color-mail-1:#E8E8E8;
  --color-mail-2:#E8E8E8;
  --color-mail-3:#E8E8E8;
  --color-mail-4:#E8E8E8;
  --color-right-1:#F78434;
  --color-close: #58BEBF;
  --color-close-dark: #459696;
  --color-seller-1:#F78434;
  --color-seller-2:#F78434;
  --color-seller-3:#F78434;
  --color-seller-4:#F78434;
  --color-seller-5:#F78434;
  --color-buyers-1:#F78434;
  --color-buyers-2:#F78434;
  --color-buyers-3:#F78434;
//icon color - end
}