@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/Poppinsregular.woff2") format("woff2"), url("../fonts/Poppinsregular.woff") format("woff"), url("../fonts/Poppinsregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppinsbold.woff2") format("woff2"), url("../fonts/Poppinsbold.woff") format("woff"), url("../fonts/Poppinsbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*start global*/
body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

/*end global*/
.button {
  display: inline-block;
  max-width: 200px;
  font-weight: 700;
  line-height: 1;
  height: 58px;
  padding: 0 37px;
  padding-top: 3px;
  border-radius: 29px;
  background-color: var(--color-aktive);
  color: var(--color-wiht);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.button:hover {
  background-color: var(--color-aktive-dark);
}

:root {
  --color-wiht:#fff;
  --color-aktive:#F78434;
  --color-aktive-dark:#d4712c;
  --color-main-text:#323232;
  --color-placeholder: #BBBBBB;
  --color-Authenticitiy-circle: #58BEBF;
  --color-Authenticitiy-1:#58BEBF;
  --color-Authenticitiy-2:#58BEBF;
  --color-Authenticitiy-3:#58BEBF;
  --color-building-circle:#58BEBF;
  --color-building-1:#58BEBF;
  --color-Enterpreneurship-circle: #F78434;
  --color-Enterpreneurship-ellipse: #fff;
  --color-Enterpreneurship-1:#fff;
  --color-Enterpreneurship-2:#fff;
  --color-Enterpreneurship-3:#fff;
  --color-Enterpreneurship-4:#fff;
  --color-Enterpreneurship-5:#fff;
  --color-Kindness-circle:#58BEBF;
  --color-Kindness-1:#58BEBF;
  --color-Kindness-2:#58BEBF;
  --color-Kindness-3:#58BEBF;
  --color-Logo:#58BEBF;
  --color-Logoipsum:#D8D8D8;
  --color-Logoipsum2-1:#D8D8D8;
  --color-Logoipsum2-2:#D8D8D8;
  --color-Logoipsum2-3:#D8D8D8;
  --color-Logoipsum2-4:#D8D8D8;
  --color-Logoipsum2-5:#D8D8D8;
  --color-Logoipsum2-6:#D8D8D8;
  --color-Logoipsum2-7:#D8D8D8;
  --color-Logoipsum3-circle:#D8D8D8;
  --color-Logoipsum3-1:#D8D8D8;
  --color-Logoipsum4-1:white;
  --color-mail-1:#E8E8E8;
  --color-mail-2:#E8E8E8;
  --color-mail-3:#E8E8E8;
  --color-mail-4:#E8E8E8;
  --color-Perfomance-1:#58BEBF;
  --color-Perfomance-circle:#58BEBF;
  --color-right-1:#F78434;
  --color-close: #58BEBF;
  --color-close-dark: #459696;
}

.header {
  padding: 45px 0 43px 0;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 5px;
}

.text__Logo {
  display: inline-block;
  color: var(--color-main-text);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.nav ul li {
  margin-left: 42px;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__row li a {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-main-text);
  text-align: center;
  line-height: 1.5;
}

.nav__row li a.Aktiv {
  font-weight: 700;
  color: var(--color-aktive);
}

.nav ul li {
  position: relative;
}
.nav ul li::before {
  content: "";
  display: block;
  width: 100%;
  height: 2.5px;
  background: var(--color-aktive);
  position: absolute;
  bottom: -6px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav ul li:hover::before {
  opacity: 1;
  bottom: 0px;
}

/*start footer*/
/*end footer*/
.heading {
  color: var(--color-main-text);
  margin-bottom: 100px;
}
.heading__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.heading__text {
  max-width: 467px;
  z-index: 2;
}
.heading__title {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.46;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
  margin-right: -180px;
}
.heading__tex {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68;
  letter-spacing: 1.15px;
  margin-bottom: 42px;
  margin-right: 10px;
}
.heading__img img {
  border-radius: 40px 40px 40px 0px;
}
.heading__form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.heading__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.heading__icon {
  width: 24px;
  height: 19px;
  margin-left: 28px;
}
.heading .heading__icon-close {
  height: 19px;
  width: 19px;
}
.heading .close {
  height: 19px;
  margin-right: 4px;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.heading .heading__icon-close use {
  background-color: red;
}
.heading .heading__icon-close:hover {
  --color-close: var(--color-close-dark);
}
.heading .heading__input:focus + .close {
  opacity: 1;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.heading__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 5px;
  margin-left: 12px;
}
.form-activ {
  -webkit-box-shadow: 0px 17px 42px rgba(88, 190, 191, 0.58);
          box-shadow: 0px 17px 42px rgba(88, 190, 191, 0.58);
  --color-mail-1:rgba(88, 190, 191, 0.40);
  --color-mail-2:rgba(88, 190, 191, 0.40);
  --color-mail-3:rgba(88, 190, 191, 0.40);
  --color-mail-4:rgba(88, 190, 191, 0.40);
}

.inner {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type=text] {
  color: red;
}

input[type=text]::-webkit-input-placeholder {
  color: var(--color-placeholder);
}

input[type=text]::-moz-placeholder {
  color: var(--color-placeholder);
}

input[type=text]:-ms-input-placeholder {
  color: var(--color-placeholder);
}

input[type=text]::-ms-input-placeholder {
  color: var(--color-placeholder);
}

input[type=text]::placeholder {
  color: var(--color-placeholder);
}

input[type=text]:focus::-webkit-input-placeholder {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

input[type=text]:focus::-moz-placeholder {
  transform: translateY(200%);
  -moz-transition: transform 1s ease;
  transition: transform 1s ease;
}

input[type=text]:focus:-ms-input-placeholder {
  -ms-transform: translateY(200%);
      transform: translateY(200%);
  -ms-transition: transform 1s ease;
  transition: transform 1s ease;
}

input[type=text]:focus::-ms-input-placeholder {
  -ms-transform: translateY(200%);
      transform: translateY(200%);
  -ms-transition: transform 1s ease;
  transition: transform 1s ease;
}

input[type=text]:focus::placeholder {
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.clients {
  margin-bottom: 90px;
  color: #D8D8D8;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.8px;
}
.clients .clients__row,
.clients .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients .clients__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients .clients__row li + li {
  margin-left: 10px;
}
.clients p {
  display: block;
  margin-left: 11.5px;
}

.icon__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients1 {
  width: 40.8px;
  height: 41.6px;
}

.clients2 {
  width: 28px;
  height: 32px;
}

.clients3 {
  width: 41.44px;
  height: 41.44px;
}

.clients4 {
  width: 37.6px;
  height: 37.6px;
  background-color: #d8d8d8;
  border-radius: 5.6px;
}